<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="logo"> Synz </div>

  <div class="navigation">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/mira" class="active">Mira</a>
  </div>

  <div class="profile-container">
    <div class="profile-picture">
  <img src="mira.png" alt="Profile Picture">
    </div>
    <div class="about-me">
    Mira is an innovative Discord bot currently in development, designed to enhance your server experience. 🤖 Packed with exciting features, Mira is undergoing continuous refinement to ensure optimal performance and user satisfaction. 🚀 While not yet open to the public, stay tuned for updates as we work diligently to bring you a polished and feature-rich bot for your Discord community. 🌟</p>
    </div>
  </div>
</body>
</html>